<% if user_signed_in? %>
	<div class="container">
		<div class="hero-unit span10 pagination-centered">
			<h1>Hello, <%= current_user.username %> </h1>
			<p>This is your personal To-Do List.</p>
			<p><a href="todos/new" class="btn btn-primary btn-large">New Task</a></p>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="hero-unit span10 pagination-centered">
			<% if @todo_list.blank? %>
				<p>You have nothing to do.</p>
			<% else %>

				<ul id="sortable" class='nav nav-tabs nav-stacked'>
					<% @todo_list.each do |todo| %>
						<li>
							<%= render partial: "todos", locals: {todo: todo} %>
						</li>
					<% end %>
				</ul>
			<% end %>
			</div>
		</div>
<%else%>
	<div class="hero-unit span12 pagination-centered">
		<h1>Hello! </h1>
		<p>Sing up to create your personal To-Do List, and see who needs help.</p>
		<p><a href="users/sign_up" class="btn btn-primary btn-large">Sing up</a></p>
	</div>
<%end%>
<script>
$(function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});
</script>
