<div class='container'>
	<div class="side-nav-container affix-top">
		<p><a href="todos/new" class="btn btn-primary btn-small">New Task</a></p>
		<% if @todos.blank? %>
			<p>You have nothing to do.</p>
		<% else %>
			<ul id="sortable" class='nav nav-tabs nav-stacked'>
				<% @todos.each do |todo| %>
					<li>
						<%= render partial: "todos", locals: {todo: todo} %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
<script>
$(function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});
</script>
